h1 {
  justify-content: center;
  display: flex;
}
nav {
  background-color: lightcoral;
  /* height: 55%; */
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-evenly;
}
